.sidebar{
    flex:0.15694444444;
    height: 194vh;
    background-color: #1E2640;
    color: white;
    padding: 10px;
    margin: 0;
    position: relative;
}

.v-logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 192px;
    height: 42pxs;
    margin: 20px auto;
}



.v-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.v-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
    padding-left: 8px;
}

.v-logo img{
    height: 39px;
    width: 39px;
    border-radius: 4px;
    cursor: pointer;
}

.v-links h3{
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    /* -webkit-text-stroke: 0.1px black;  */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.v-links a{
    font-size: 13px;
    margin-top: -10px;
    padding-left: 2px;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.dropdown{
    cursor: pointer;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap:8px;
 
}

.nav-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:14px;
    margin-bottom: -16px;
    width: 208px;
    cursor: pointer;
}

.nav-link img{
    width: 18px;
    height: 18px;
    padding-left: 20px;
}

.nav-link h3{
    font-size: 16px;
    font-weight: 500;
}

.nav-link:hover{
    width: 100%;
    justify-self: flex-start;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 8px;
}

img{
    cursor: pointer;
}


/* Sidebar End */

.sidebar-end{
    position: absolute;
    bottom:0;
    width: 192px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.058);
    border-radius: 4px;
    margin: 12px auto;

}

.end-img{
    padding:10px;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 4px;
}

.end-txt{
    padding-left: 10px;
}


.end-txt p{
    font-size: 13px;
}

.end-txt h3{
    font-size: 16px;
    margin-top: -8px;
}

button{
    cursor: pointer;
}

/* Diff */